
RewriteCond %{THE_REQUEST} /dist/portfolio/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]
<!-- RewriteRule ([^/]*).(css|js|png|jpe?g)$ public/$1.$2 [L] -->
RewriteRule ^(.*)$ dist/portfolio/index.html?$1 [L,QSA]




<!-- 
RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]
RewriteRule ([^/]*).(css|js|png|jpe?g)$ public/$1.$2 [L]
RewriteRule ^(.*)$ public/index.php?$1 [L,QSA] -->