<nav class="navbar navbar-expand-lg">
    <div class="container">

        <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="#" class="navbar-brand mx-auto mx-lg-0">
            Guilherme
        </a>

        <div class="d-flex align-items-center d-lg-none">
            <i class="navbar-icon bi-telephone-plus me-3"></i>
            <a class="custom-btn btn" href="#contato">
                Contato
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-lg-5">
                <li class="nav-item">
                    <a class="nav-link click-scroll active"
                        href="#home">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#sobre_mim">
                        Sobre
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#servicos">
                        Serviços
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#projetos">
                        Projetos
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#contato">
                        Contato
                    </a>
                </li>
            </ul>

            <div class="d-lg-flex gap-2 align-items-center d-none
                ms-auto">
                <!-- <i class="social-icon-link bi-telephone-plus me-3"></i> -->
                <a target="_blank" href="https://github.com/gui1535"
                    class="social-icon-link-menu bi-github"></a>
                <a target="_blank"
                    href="https://api.whatsapp.com/send?phone=5511945221351&text=Ol%C3%A1%20Guilherme%2C%20vi%20seu%20contato%20no%20seu%20website"
                    class="social-icon-link-menu bi-whatsapp"></a>
                <a target="_blank"
                    href="https://www.linkedin.com/in/guilhermearaujo1"
                    class="social-icon-link-menu bi-linkedin"></a>
                <a href="mailto:guilherme.araujo153@gmail.com"
                    class="social-icon-link-menu bi-envelope-fill"></a>
            </div>
        </div>

    </div>
</nav>
