<div class="row contact-info mb-1">
    <div class="col-lg-6 col-md-6 col-12 pe-lg-0">
        <div class="contact-info
            contact-info-border-start
            d-flex flex-column">
            <strong class="site-footer-title d-block
                mb-3">
                Serviços
            </strong>

            <ul class="footer-menu">
                <li class="footer-menu-item">
                    <a href="#"
                        class="footer-menu-link">
                        Websites
                    </a>
                </li>

                <li class="footer-menu-item">
                    <a href="#"
                        class="footer-menu-link">
                        Ecommerce
                    </a>
                </li>

                <li class="footer-menu-item">
                    <a href="#"
                        class="footer-menu-link">
                        Design
                    </a>
                </li>

                <li class="footer-menu-item">
                    <a href="#"
                        class="footer-menu-link">
                        Mobile
                    </a>
                </li>
            </ul>

            <strong class="site-footer-title d-block
                mt-4
                mb-3">
                Conecte-se comigo
            </strong>

            <ul class="social-icon">
                <li class="social-icon-item">
                    <a target="_blank"
                        href="https://github.com/gui1535"
                        class="social-icon-link
                        bi-github"></a>
                </li>

                <li class="social-icon-item">
                    <a
                        href="mailto:guilherme.araujo153@gmail.com"
                        class="social-icon-link
                        bi-envelope-fill"></a>
                </li>

                <li class="social-icon-item">
                    <a target="_blank"
                        href="https://api.whatsapp.com/send?phone=5511945221351&text=Ol%C3%A1%20Guilherme%2C%20vi%20seu%20contato%20no%20seu%20website"
                        class="social-icon-link
                        bi-whatsapp"></a>
                </li>

                <li class="social-icon-item">
                    <a target="_blank"
                        href="www.linkedin.com/in/guilhermearaujo1"
                        class="social-icon-link
                        bi-linkedin"></a>
                </li>
            </ul>

            <strong class="site-footer-title d-block
                mt-4
                mb-3">
                Iniciar um projeto
            </strong>

            <p class="mb-0">
                Estou disponivel para projetos freelance
            </p>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-12 ps-lg-0">
        <div class="contact-info d-flex flex-column">
            <strong class="site-footer-title d-block
                mb-3">
                Sobre
            </strong>

            <p class="mb-2">
                Sou desenvolvedor web e estou disposto a
                ajudar no que precisar, contate-me
            </p>

            <strong class="site-footer-title d-block
                mt-4
                mb-3">
                Email
            </strong>

            <p class="mb-2">
                <a
                    href="mailto:guilherme.araujo1535@gmail.com">
                    guilherme.araujo1535@gmail.com
                </a>
            </p>

            <strong class="site-footer-title d-block
                mt-4
                mb-3">
                Telefone / Whatsapp
            </strong>

            <p class="mb-2">
                <a href="tel:5511945221351">
                    +55 11 94522-1351
                </a>
            </p>
        </div>
    </div>
</div>