<div class="services-thumb">
    <div class="d-flex flex-wrap
        align-items-center border-bottom
        mb-4 pb-3">
        <h3 class="mb-0">
            {{titulo}}
        </h3>

        <!-- <div class="services-price-wrap ms-auto">
        <p class="services-price-text mb-0">$2,400</p>
        <div class="services-price-overlay"></div>
    </div> -->
    </div>

    <p>
        {{descricao}}
    </p>

    <a href="#{{href}}" class="custom-btn
        custom-border-btn btn mt-3">
        Saiba mais
    </a>

    <div class="services-icon-wrap
        d-flex
        justify-content-center
        align-items-center">
        <i class="services-icon {{icon}}"></i>
    </div>
</div>